@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* reset (reseting default browser styles*/
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 900px; /* Set a width */
}

/* Small tablet styles */
@media screen and (max-width: 620px) {
  body {
    padding: 0 20px;
  }
}

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablets & laptops */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
